<div class="footer">
  <div class="row">
    <div class="col">
      <img src="assets/img/logo.png" width="100px">
      <h2>Manigram Marketing</h2>
      <p>Your way to be the best!</p>
    </div>
    <div class="col">
      <h3>Kontakt</h3>
      <hr>
      <a href="mailto:info@manigram-marketing.de">info@manigram-marketing.de</a><br>
      <a href="">Kontaktformular</a>
    </div>
    <div class="col">
      <h3>Zahlungsarten</h3>
      <hr>
      <div class="payment">
        <ion-icon name="logo-paypal"></ion-icon>
        <ion-icon name="card-outline"></ion-icon>
        <ion-icon name="reader-outline"></ion-icon>
      </div>
    </div>
  </div>
  <div class="center-with-display">
    <div><a href="#">Impressum</a><a> | </a><a href="#">Datenschutzerklärung</a></div>
  </div>
  <div class="center-with-display">
    <p>&copy; Manigram-Marketing. Alle Rechte Vorbehalten.</p>
  </div>
</div>
