<div class="start_screen">
  <p>Manigram Marketing</p>
  <div class="icon"><img src="assets/icon/arrow-downward-outline.svg" width="100px"></div>
</div>
<div class="first-section">
  <i></i>
  <ion-icon name="golf-outline"></ion-icon>
  <h1 class="header">Online-Marketing leicht gemacht!</h1>
  <div class="center-with-display">
    <p>Du führst ein eigenes Unternehmen und möchtest mehr Reichweite aufbauen und neue Kunden generieren oder im Internet präsent werden und sich eine eigene Community aufbauen?
      Aber du hast leider nicht das nötige Wissen oder einen eigenen Social Media Manager und somit nicht die Zeit dies in die Tat umzusetzen?
      Dann melden Sie sich gerne bei uns und vereinbaren einen Termin für ein kostenloses Gespräch.
    </p>
  </div>
  <button class="btn btn-primary">Kontaktieren Sie uns</button>
</div>
<div class="second-section">
  <div class="header">
    <h1>Unsere Leistungen</h1>
  </div>
  <div class="cards">
    <div class="card">
      <div class="icon" style="--i:#d010d5"><ion-icon name="logo-instagram"></ion-icon></div>
      <div class="content">
        <h2>Instagram</h2>
        <p>Profil, Highlight + Beiträge, Story mehrmals die wöchentlich, Schaltung von Angeboten und Rabattaktionen</p>
      </div>
    </div>
    <div class="card">
      <div class="icon" style="--i:#4267B2"><ion-icon name="logo-facebook"></ion-icon></div>
      <div class="content">
        <h2>Facebook-Ads</h2>
        <p>Design + Schaltung von Facebook-Ads</p>
      </div>
    </div>
    <div class="card">
      <div class="icon" style="--i:#d2e010"><ion-icon name="analytics-outline"></ion-icon></div>
      <div class="content">
        <h2>Neukunden</h2>
        <p>Wir wissen, wie wir Ihr Unternehmen Publik machen!</p>
      </div>
    </div>
  </div>
</div>
<div class="third-section">
  <i></i>
  <ion-icon name="compass-outline"></ion-icon>
  <h1 class="header">Über Uns</h1>
  <div class="center-with-display">
    <p>Überall auf der Welt gewinnen die sozialen Medien immer mehr an Bedeutung und sind heutzutage nicht wegzudenken.
      Mein Name ist Toni Kysela und ich möchte Unternehmen die Chance geben sich erfolgreich in das Leben auf „Social Media“ zu integrieren.
    </p>
  </div>
</div>
