<div class="main" onscroll={this.onScroll()}>
  <div class="manigram">
    <h1>Manigram Marketing</h1>
    <img width="100px" src="../../assets/icon/arrow-downward-outline.svg">
  </div>
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="img-box">
                  <img width="100%" src="../../assets/img/background.jpeg" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Digitale Marketing Experten
                  </h1>
                  <p>
                    Unsere Mitarbeiter haben viel Know-How rund um die Social Media Welt!
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn1">
                      Kontaktieren Sie Uns
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- service section -->
  <section class="service_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Unsere Leistungen
      </h2>
    </div>
    <div class="row center-with-display">
      <div class="col-md-6 col-lg-3">
        <div class="box">
          <div class="img-box">
            <img src="../../assets/img/87390.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Instagram
            </h5>
            <p>
              Die Verwaltung Ihres Instagram Accounts wird von uns übernommen.
            </p>
            <span>
              Mehr anzeigen
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box">
          <div class="img-box">
            <img src="../../assets/img/facebook-ads.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Facebook Werbung
            </h5>
            <p>
              Werbung wird von uns erstellt und geschalten.
            </p>
            <span>
              Mehr anzeigen
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        Weitere Leistungen
      </a>
    </div>
  </div>
  </section>
  <!-- end service section -->
</div>

<!-- about section -->

<section class="about_section layout_padding">
<div class="container  ">
  <div class="row">
    <div class="col-md-6">
      <div class="detail-box">
        <div class="heading_container">
          <h2>
            Über Uns
          </h2>
        </div>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          in some form, by injected humour, or randomised words which don't look even slightly believable. If you
          are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
          the middle of text. All
        </p>
        <a href="">
          Mehr Lesen
        </a>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="img-box">
        <img src="images/about-img.png" alt="">
      </div>
    </div>

  </div>
</div>
</section>
