.section_for_circle {
  position: relative;
  width: 100%;
  min-height: 120vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../assets/img/background.jpeg') fixed;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .section_for_circle {
    background: url('../assets/img/background.jpeg');
    background-size: cover;
  }
}
